html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

md-toolbar h1 {
  margin: auto;
  margin-left: 16px;
}


md-toolbar .md-button {
	/* really dislike the md default */
	min-width: 0px;
}


/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


  md-sidenav {
    overflow-y: scroll; /* has to be scroll, not auto */
	  -webkit-overflow-scrolling: touch;
    max-width: 75% !important;
    min-width: inherit;
  }



/* Primary content area */

#content {
  /*overflow: hidden;*/
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.wbc-event-bar {
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 4px 0px;
  background: rgb(192, 227, 255);
  line-height: 0px;
  min-width: 2.5%;
}
.wbc-event-bar p {
	margin: 0px;
  margin-left: 3px;
  display: block;
	width: 100%;
	height: 24px;
	line-height: 24px;
  white-space: nowrap;
  xoverflow: hidden;
  text-overflow: ellipsis;
}

.wbc-event-bar[event-round-number='1'] {

}

.wbc-event-bar[event-round-number='2'] {
  background-color: #EEEE00;

}

.wbc-event-bar[event-round-number='3'] {
  background-color: #EEDD00;

}

.wbc-event-bar[event-round-number='4'] {
  background-color: #DDDD00;

}

.wbc-event-bar[event-round-number='5'] {
  background-color: #CCCC00;

}

.wbc-event-bar[event-round-number='6'] {
  background-color: #BBBB00;

}

.wbc-event-bar[event-round-number='7'] {
  background-color: #AABB00;

}

.wbc-event-bar[event-round-number='8'] {
  background-color: #AAAA00;

}


.wbc-event-bar[event-round-number='9'] {
  background-color: #FFCC00;
}

.wbc-event-bar[event-round-number='10'] {
  background-color: #FFAA00;
}

.wbc-event-bar[event-round-number='11'] {
  background-color: #FF7700;
}

.wbc-event-bar[event-round-number='12'] {
  background-color: #FF7700;
}

.wbc-event-bar[event-duration='0'] {
	width: 2.5%;
}
.wbc-event-bar[event-duration-minute='30'] {

  width: 2.5%;
}
.wbc-event-bar[event-duration='1'] {
	width: 5%;
}
.wbc-event-bar[event-duration='2'] {
	width: 10%;
}
.wbc-event-bar[event-duration='3'] {
	width: 15%;
}
.wbc-event-bar[event-duration='4'] {
	width: 20%;
}
.wbc-event-bar[event-duration='5'] {
	width: 25%;
}
.wbc-event-bar[event-duration='6'] {
	width: 30%;
}
.wbc-event-bar[event-duration='7'] {
	width: 35%;
}
.wbc-event-bar[event-duration='8'] {
	width: 40%;
}
.wbc-event-bar[event-duration='9'] {
	width: 45%;
}
.wbc-event-bar[event-duration='10'] {
	width: 50%;
}
.wbc-event-bar[event-duration='11'] {
	width: 65%;
}
.wbc-event-bar[event-duration='12'] {
	width: 70%;
}
.wbc-event-bar[event-duration='13'] {
	width: 75%;
}
.wbc-event-bar[event-duration='14'] {
	width: 80%;
}

.wbc-event-bar[event-format="Demo"] {
	background-color: rgb(152, 209, 143);
}

.wbc-event-bar[event-format=event-final] {
	background-color: yellow;
}

.wbc-event-bar[event-is-junior=true] {
	background-color: #FFD8FF;
}

.wbc-event-bar[event-is-game=false] {
	background-color: #FFD3C3;
}

div[event-start-hour='7'] {
	margin-left: 0%;
}
div[event-start-hour='8'] {
	margin-left: 5%;
}
div[event-start-hour='9'] {
	margin-left: 10%;
}
div[event-start-hour='10'] {
	margin-left: 15%;
}
div[event-start-hour='11'] {
	margin-left: 20%;
}
div[event-start-hour='12'] {
	margin-left: 25%;
}
div[event-start-hour='13'] {
	margin-left: 30%;
}
div[event-start-hour='14'] {
	margin-left: 35%;
}
div[event-start-hour='15'] {
	margin-left: 40%;
}
div[event-start-hour='16'] {
	margin-left: 45%;
}
div[event-start-hour='17'] {
	margin-left: 50%;
}
div[event-start-hour='18'] {
	margin-left: 55%;
}
div[event-start-hour='19'] {
	margin-left: 60%;
}
div[event-start-hour='20'] {
	margin-left: 65%;
}
div[event-start-hour='21'] {
	margin-left: 70%;
}
div[event-start-hour='22'] {
	margin-left: 75%;
}
div[event-start-hour='23'] {
	margin-left: 80%;
}
div[event-start-hour='0'] {
	margin-left: 85%;
}
div[event-start-hour='1'] {
	margin-left: 90%;
}
div[event-start-hour='2'] {
	margin-left: 95%;
}
div[event-start-hour='3'] {
	margin-left: 100%;
}


div[event-start-minute='30'] {
	position: relative;
  left: 2.5%;
}


.wbc-event-bar:after {
	content: attr(event-start-hour-ampm);
	position: absolute;
	left: -34px;
	width: 30px;
	top: 4px;
	height: 18px;
	line-height: 18px;
	vertical-align: center;
	font-size: 12px;
	color: gray;
	text-align: right;
	background: white;
}

.wbc-event-bar:hover:before {
  content: attr(event-description) " [" attr(event-location) "]";
  position: absolute;
  line-height: 17px;
  top: -1px;
  left: -1px;
  border: 1px solid gray;
  background: rgb(255, 237, 143);
  border-radius: 4px;
  padding: 4px 6px;
  overflow: hidden;
  z-index: 2;
}

.wbc-event-container {
  xborder: 1px solid blue;
  position: relative;
  overflow: none;
  margin-top: 60px;
}

.wbc-event-container h1 {
  position: absolute;
  top: -50px;
  margin: 0px;
  padding: 4px 0px;
  margin-top: 0px;
  padding-top: 16px;
  font-size: 22px;
  z-index: 0;
}

.wbc-grid-backdrop {
  xborder: 1px solid green;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.wbc-grid-column {
  position: absolute;
  border-left: 1px solid #ddd;
  width: 5%;
  height: 100%;

}

.wbc-content {
  xborder: 1px solid red;
  position: relative;
}

.empty-content {
  color: #ccc;
  padding: 50px;
  text-align: center;
}

@media print {
    .wbc-event-container {
       page-break-inside: avoid;
    }
}
